# API-ключи
CURRENCY_API_KEY=
STOCK_API_KEY=

# Основная валюта
BASE_CURRENCY=RUB

# Пользовательские валюты (через запятую)
USER_CURRENCIES=USD,EUR,CNY

# Акции (через запятую, тикеры биржи)
USER_STOCKS=AAPL,GOOGL,TSLA

# Пути к данным
OPERATIONS_FILE=./data/operations.xlsx
USER_SETTINGS_FILE=./user_settings.json

# Настройки логирования
LOG_LEVEL=DEBUG
